<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.housekeeper.mapper.TransactionsMapper">
    
    <resultMap type="Transactions" id="TransactionsResult">
        <result property="flowId"    column="flow_id"    />
        <result property="familyId"    column="family_id"    />
        <result property="amount"    column="amount"    />
        <result property="txnType"    column="txn_type"    />
        <result property="category"    column="category"    />
        <result property="id"    column="id"    />
        <result property="transactionDate"    column="transaction_date"    />
        <result property="note"    column="note"    />
    </resultMap>

    <sql id="selectTransactionsVo">
        select flow_id, family_id, amount, txn_type, category, id, transaction_date, note from transactions
    </sql>

    <select id="selectTransactionsList" parameterType="Transactions" resultMap="TransactionsResult">
        <include refid="selectTransactionsVo"/>
        <where>  
            <if test="familyId != null "> and family_id = #{familyId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="txnType != null  and txnType != ''"> and txn_type = #{txnType}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="transactionDate != null "> and transaction_date = #{transactionDate}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
        </where>
    </select>
    
    <select id="selectTransactionsByFlowId" parameterType="Long" resultMap="TransactionsResult">
        <include refid="selectTransactionsVo"/>
        where flow_id = #{flowId}
    </select>

    <insert id="insertTransactions" parameterType="Transactions" useGeneratedKeys="true" keyProperty="flowId">
        insert into transactions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="familyId != null">family_id,</if>
            <if test="amount != null">amount,</if>
            <if test="txnType != null and txnType != ''">txn_type,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="id != null">id,</if>
            <if test="transactionDate != null">transaction_date,</if>
            <if test="note != null">note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="familyId != null">#{familyId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="txnType != null and txnType != ''">#{txnType},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="id != null">#{id},</if>
            <if test="transactionDate != null">#{transactionDate},</if>
            <if test="note != null">#{note},</if>
         </trim>
    </insert>

    <update id="updateTransactions" parameterType="Transactions">
        update transactions
        <trim prefix="SET" suffixOverrides=",">
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="txnType != null and txnType != ''">txn_type = #{txnType},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="id != null">id = #{id},</if>
            <if test="transactionDate != null">transaction_date = #{transactionDate},</if>
            <if test="note != null">note = #{note},</if>
        </trim>
        where flow_id = #{flowId}
    </update>

    <delete id="deleteTransactionsByFlowId" parameterType="Long">
        delete from transactions where flow_id = #{flowId}
    </delete>

    <delete id="deleteTransactionsByFlowIds" parameterType="String">
        delete from transactions where flow_id in 
        <foreach item="flowId" collection="array" open="(" separator="," close=")">
            #{flowId}
        </foreach>
    </delete>
</mapper>