<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.users.mapper.FamilyMembersMapper">
    
    <resultMap type="FamilyMembers" id="FamilyMembersResult">
        <result property="id"    column="id"    />
        <result property="familyId"    column="family_id"    />
        <result property="name"    column="name"    />
        <result property="gender"    column="gender"    />
        <result property="kinship"    column="kinship"    />
        <result property="occupation"    column="occupation"    />
        <result property="account"    column="account"    />
        <result property="passwordHash"    column="password_hash"    />
        <result property="role"    column="role"    />
    </resultMap>

    <sql id="selectFamilyMembersVo">
        select id, family_id, name, gender, kinship, occupation, account, password_hash, role from family_members
    </sql>

    <select id="selectFamilyMembersList" parameterType="FamilyMembers" resultMap="FamilyMembersResult">
        <include refid="selectFamilyMembersVo"/>
        <where>  
            <if test="familyId != null "> and family_id = #{familyId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="kinship != null  and kinship != ''"> and kinship = #{kinship}</if>
            <if test="occupation != null  and occupation != ''"> and occupation = #{occupation}</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="passwordHash != null  and passwordHash != ''"> and password_hash = #{passwordHash}</if>
            <if test="role != null  and role != ''"> and role = #{role}</if>
        </where>
    </select>
    
    <select id="selectFamilyMembersById" parameterType="Long" resultMap="FamilyMembersResult">
        <include refid="selectFamilyMembersVo"/>
        where id = #{id}
    </select>

    <insert id="insertFamilyMembers" parameterType="FamilyMembers" useGeneratedKeys="true" keyProperty="id">
        insert into family_members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="familyId != null">family_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="kinship != null and kinship != ''">kinship,</if>
            <if test="occupation != null">occupation,</if>
            <if test="account != null">account,</if>
            <if test="passwordHash != null">password_hash,</if>
            <if test="role != null and role != ''">role,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="familyId != null">#{familyId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="kinship != null and kinship != ''">#{kinship},</if>
            <if test="occupation != null">#{occupation},</if>
            <if test="account != null">#{account},</if>
            <if test="passwordHash != null">#{passwordHash},</if>
            <if test="role != null and role != ''">#{role},</if>
         </trim>
    </insert>

    <update id="updateFamilyMembers" parameterType="FamilyMembers">
        update family_members
        <trim prefix="SET" suffixOverrides=",">
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="kinship != null and kinship != ''">kinship = #{kinship},</if>
            <if test="occupation != null">occupation = #{occupation},</if>
            <if test="account != null">account = #{account},</if>
            <if test="passwordHash != null">password_hash = #{passwordHash},</if>
            <if test="role != null and role != ''">role = #{role},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFamilyMembersById" parameterType="Long">
        delete from family_members where id = #{id}
    </delete>

    <delete id="deleteFamilyMembersByIds" parameterType="String">
        delete from family_members where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>